<h2>Portfolio</h2>
<div class="portfolio-content">
  <figure>
    <img src="img/01-library.webp" alt="Logo of library on teal background.">
    <figcaption>Library logo</figcaption>
  </figure>
  <figure>
    <img src="img/03-bakery.webp" alt="Desktop mockup of bakery website.">
    <figcaption>Bakery website</figcaption>
  </figure>
  <figure>
    <img src="img/02-logo.webp" alt="Logo of a restaurant.">
    <figcaption>Restaurant logo</figcaption>
  </figure>
  <figure>
    <img src="img/04-suzanne.webp" alt="Desktop mockup of Suzanne Collins website.">
    <figcaption>Website Redesign</figcaption>
  </figure>
  <figure>
    <img src="img/05-zen-garden.webp" alt="Desktop mockup of zen garden.">
    <figcaption>Zen garden website</figcaption>
  </figure>
  <figure>
    <img src="img/06-restaurant.webp" alt="Desktop mockup of restaurant website.">
    <figcaption>Restaurant website</figcaption>
  </figure>
</div>
