<h2>Portfolio</h2>
<div class="portfolio-content">
  <figure>
    <img src="img/01-library.webp" alt="">
    <figcaption>Library logo</figcaption>
  </figure>
  <figure>
    <img src="img/03-bakery.webp" alt="">
    <figcaption>Bakery website</figcaption>
  </figure>
  <figure>
    <img src="img/02-logo.webp" alt="">
    <figcaption>Restaurant logo</figcaption>
  </figure>
  <figure>
    <img src="img/04-suzanne.webp" alt="">
    <figcaption>Website Redesign</figcaption>
  </figure>
  <figure>
    <img src="img/05-zen-garden.webp" alt="">
    <figcaption>Zen garden website</figcaption>
  </figure>
  <figure>
    <img src="img/06-restaurant.webp" alt="">
    <figcaption>Restaurant website</figcaption>
  </figure>
</div>